<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>
<% for post in @posts %>
<div class="col-md-3 col-sm-6">
      <h4>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <% if user %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
      </h4>


    <div class="col-md-5 text-end">
        <a href="/posts/new" class="btn btn-success">New Post</a>
      </div>
      
      <p><%= post["title"] %></p>
      <p><%= post["posted_on"] %></p>
      <p><%= post["image"] %></p> <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>

  <div class="col-sm-2 text-end">
  <a href="/places" class= "btn btn-success">Back to All Places</a>
  </div>