<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>
<% for post in @posts %>
<div class="col-md-3 col-sm-6">
      <h4>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <% if user %>
          <%= user["first_name"] %>
        <% else %>
          anonymous
        <% end %>
      </h4>

      <p><%= post["title"] %></p>
      <p><%= post["posted_on"] %></p>
      <p><%= post["image"] %></p> <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>